<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HiThereServlet</servlet-name>
        <servlet-class>com.swcguild.helloservlet.HiThereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HiNameServlet</servlet-name>
        <servlet-class>com.swcguild.helloservlet.HiNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiThereServlet</servlet-name>
        <url-pattern>/SayHello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HiNameServlet</servlet-name>
        <url-pattern>/DisplayHelloMessage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
